/* Jumbotron class is copied from boostrap 3.4.1 */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron .h1,
.jumbotron h1 {
  color: inherit;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron .h1,
  .jumbotron h1 {
    font-size: 50px;
  }
}

a {
  text-decoration: none;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-flex {
  flex-direction: column;
  align-items: start;
}
